<template id='shex-page-template'>
<div class='container'>
    <div v-if='loading==true'>
        <i tt='loading'></i>
    </div>
    <div v-else>
        <div style='color:red'>EXPERIMENTAL!!!</div>
        <h1>{{getShExLabel}}</h1>
        <p>{{getShExDesc}}</p>
        <ul class="list-group">
            <li v-for='prop in lads' class="list-group-item" style='display:flex;flex-direction:row;'>
                <div style='width:10rem;display:flex;flex-direction:row;'>
                    <div :tt='prop'></div>
                    <div v-if='prop=="labels"' tt_title='mandatory' style='color:red;margin-left:0.2rem;'>*</div>
                </div>
                <ul class="list-group" style='display:flex;flex-direction:column;flex-grow:1;'>
                    <li v-for='(v,num) in data[prop]' :key='v.vue_key' class="list-group-item" style='display:flex;flex-direction:row;'>
                        <prop-value :original='v' :num='num' :prop='prop' @datachanged='onDataChanged($event)'></prop-value>
                        <span v-if='num+1==data[prop].length'>
                            <button class='btn btn-outline-success' @click.prevent='onAddElement(prop)'>+</button>
                        </span>
                        <span v-if='data[prop].length>1'>
                            <button class='btn btn-outline-danger' @click.prevent='onRemoveElement(prop,num)'>-</button>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class='list-group mt-2'>
            <li v-for='(pv,prop) in s.props' class="list-group-item" style='display:flex;flex-direction:row;' :key='""+prop'>
                <div style='width:10rem;display:flex;flex-direction:row;'>
                    <wd-link :item='prop' :language='tt.language'></wd-link>
                    <div v-if='pv.mandatory' tt_title='mandatory' style='color:red;margin-left:0.2rem;'>*</div>
                </div>
                <ul class="list-group" style='display:flex;flex-direction:column;flex-grow:1;'>
                    <li v-for='(v,num) in data[prop]' :key='v.vue_key' class="list-group-item" style='display:flex;flex-direction:row;'>
                        <prop-value :original='v' :num='num' :prop='prop' :pv='pv' @datachanged='onDataChanged($event)'></prop-value>
                        <span v-if='num+1==data[prop].length'>
                            <button class='btn btn-outline-success' @click.prevent='onAddElement(prop)'>+</button>
                        </span>
                        <span v-if='data[prop].length>1'>
                            <button class='btn btn-outline-danger' @click.prevent='onRemoveElement(prop,num)'>-</button>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
        <div v-if='widar.is_logged_in' class='mt-2'>
            <button v-if='can_create_new_item' class='btn btn-outline-primary' tt='create_new_item' @click.prevent='doCreateItem'></button>
            <ul v-else class='list-group'>
                <li v-for='msg in warning_messages' class='list-group-item alert alert-warning'>{{msg}}</li>
            </ul>
        </div>
        <div v-if='created_items.length>0' class='mt-2'>
            <h3 tt='last_items_created'></h3>
            <div v-for='q in created_items'>
                <wd-link :item='q'></wd-link>
            </div>
        </div>
<!--        <div v-if='!widar.is_logged_in' class='mt-2' tt='log_into_widar'></div>-->
    </div>
</div>
</template>

<script>
'use strict';

let ShexPage = Vue.extend ( {
    props : [ 'e' ] ,
    data : function () { return { s:{} , data:{} , lads:["labels","aliases","descriptions"] , can_create_new_item:false , creation_data:{} , warning_messages:[] , created_items:[] , vue_key_num:0 , debugging:false , loading:true , j:{} } } ,
    created : function () {
        var me = this ;
        if ( typeof me.$route.query.debug != 'undefined' ) me.debugging = true ;
        if ( typeof me.e == 'undefined' || me.e == '' ) return ;

        me.data = {} ;
        $.each ( {labels:0,descriptions:0,aliases:0} , function ( prop , pv ) {
            me.$set ( me.data , prop , [ { vue_key:(me.vue_key_num++) } ] ) ;
        } )

        me.loadEntitySchema ( function ( j ) {
            //console.log(JSON.parse(JSON.stringify(j)));
            let t = j.schemaText ;

            let m =  t.match(/\n *start\s*=\s*@<\s*(.+?)\s*>/) ;
            if ( m == null ) return ;
            let start = m[1] ;
            
            t = t.replace ( /#.*?\n/mg , "\n" ) ;
            t = t.replace ( /\n/mg , " " ) ;

            me.j = j ;

            let s = {labels:{} , props:{}} ;
            let to_load = [] ;
            const regex1 = RegExp('<([^/<>]+)> EXTRA .*?\{(.+?)\}','g'); // THIS DOES NOT DEAL WITH {num} OR {num,num}!!
            while ( (m = regex1.exec(t)) !== null ) {
                if ( m[1] != start ) continue ;
                let parts = m[2].split(';') ;
                $.each ( parts , function ( dummy , part ) {
                    part = $.trim(part) ;
                    if ( part == '' ) return ;
                    let n = part.match(/^wdt:(P\d+)\s*(.*)$/) ;
                    if ( n == null ) return ;

                    let prop = n[1] ;
                    let rest = n[2] ;
                    to_load.push ( prop ) ;
                    //console.log(part,'||',prop,'||',rest);
                    s.props[prop] = { min:0 } ;

                    // These are not honored right now, but...
                    if ( /\+$/.test(rest) ) s.props[prop].min = 1 ; 
                    if ( /\*$/.test(rest) ) s.props[prop].min = 0 ;
                    if ( /\?$/.test(rest) ) {
                        s.props[prop].min = 0 ;
                        s.props[prop].max = 1 ;
                        s.props[prop].from = '?' ;
                    }
                    n = rest.match(/\{\s*(\d+)\s*\}/) ;
                    if ( n != null ) {
                        s.props[prop].min = n[1]*1 ;
                        s.props[prop].max = n[1]*1 ;
                        s.props[prop].from = '{}' ;
                    }
                    n = rest.match(/\{\s*(\d+)\s*,\s*(\d+)\s*\}/) ;
                    if ( n != null ) {
                        s.props[prop].min = n[1]*1 ;
                        s.props[prop].max = n[2]*1 ;
                        s.props[prop].from = '{,}' ;
                    }

                    if ( s.props[prop].min > 0 ) s.props[prop].mandatory = true ;

                    n = rest.match(/\[\s*(.+?)\s*\]/) ;
                    if ( n != null ) {
                        let items = n[1] ;
                        items = $.trim(items.replace(/\bwd:/g,' ')) ;
                        items = items.replace(/\s+/g,',') ;
                        to_load = to_load.concat(items.split(',')) ;
                        s.props[prop].softselect = items ;
                    }
                } ) ;
            }

            me.s = s ;
            //console.log(JSON.parse(JSON.stringify(me.s)));

            me.data = {} ;
            $.each ( {labels:0,descriptions:0,aliases:0} , function ( prop , pv ) {
                me.$set ( me.data , prop , [ { vue_key:(me.vue_key_num++) } ] ) ;
            } )
            $.each ( s.props , function ( prop , pv ) {
                me.$set ( me.data , prop , [ { vue_key:(me.vue_key_num++) } ] ) ;
            } )

            wd.getItemBatch ( to_load , function () {
                me.loading = false ;
            } ) ;
        } ) ;

    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        loadEntitySchema : function ( callback ) {
            let me = this ;
            $.getJSON ( config.api+'?callback=?' , {
                action:'parse',
                page:"EntitySchema:"+me.e,
                prop:'wikitext' ,
                format:'json'
            } , function ( d ) {
                let text = d.parse.wikitext['*'] ;
                callback ( JSON.parse ( text ) ) ;
            } ) ;
        } , 
        onAddElement : function ( prop ) {
            var me = this ;
            me.data[prop].push ( { vue_key:(me.vue_key_num++) } ) ;
            me.updateEditElement() ;
        } ,
        onRemoveElement : function ( prop , num ) {
            var me = this ;
//            console.log ( prop , num ) ;
            me.data[prop].splice ( num , 1 ) ; // Doesn't work correctly??
            me.updateEditElement() ;
        } ,
        onDataChanged : function ( d ) {
            var me = this ;
//            console.log ( JSON.parse(JSON.stringify(d)) ) ;
            me.data[d.prop][d.num] = d ;
            me.updateEditElement() ;
        } ,
        updateEditElement : function () {
            var me = this ;
            let data = {} ;
            me.warning_messages = [] ;
            me.can_create_new_item = false ;
            let can_create = false ;
            let prop_counter = {} ;
            $.each ( me.data , function ( prop , entries ) {
                $.each ( entries , function ( num , e ) {
                    if ( !e.is_valid ) return ;
                    if ( -1 !== $.inArray ( prop , me.lads ) ) {
                        if ( typeof data[prop] == 'undefined' ) data[prop] = [] ;
                        data[prop].push ( e.statement ) ;
                    } else {
                        if ( typeof data.claims == 'undefined' ) data.claims = [] ;
                        if ( typeof prop_counter[prop] == 'undefined' ) prop_counter[prop] = 0 ;
                        prop_counter[prop]++ ;
                        data.claims.push ( e.statement ) ;
                    }
                    can_create = true ;
                } ) ;
            } ) ;
            $.each ( me.s.props , function ( prop , v ) {
                if ( !v.mandatory ) return ;
                if ( typeof prop_counter[prop] == 'undefined' ) {
                    can_create = false ;
                    me.warning_messages.push ( 'Property ' + prop + ' is mandatory' ) ;
                }
            } ) ;
            me.creation_data = JSON.parse(JSON.stringify(data)) ;
            if ( typeof data.labels == 'undefined' ) {
                can_create = false ;
                me.warning_messages.push ( "One label is required" ) ;
            }
            me.can_create_new_item = can_create ;
//console.log ( JSON.parse(JSON.stringify(me.creation_data)) ) ;
//            if ( me.can_create_new_item ) console.log ( data ) ;
        } ,
        doCreateItem : function () {
            var me = this ;
            if ( !me.can_create_new_item ) return ;
            me.warning_messages = [ 'Creating item...' ] ;
            me.can_create_new_item = false ;
            let command = {
                action:'wbeditentity',
                new:'item',
                data:JSON.stringify(me.creation_data)
            } ;
//console.log ( JSON.parse(JSON.stringify(me.creation_data)) ) ;
            $('#working').show() ;
            let params = {
                action:'generic',
                json:JSON.stringify(command) ,
                tool_hashtag:'cradle' ,
                botmode:1
            } ;

            widar.run ( params , function ( d ) {
                if ( d.error != 'OK' || typeof d.last_res == 'undefined' ) {
                    console.log ( JSON.parse(JSON.stringify(me.creation_data)) ) ;
                    me.warning_messages = [ d.error ] ;
                    me.can_create_new_item = true ;
                    return ;
                }
                me.warning_messages = [ 'Item created!' ] ;
                me.created_items.push ( d.last_res.entity.id ) ;
                me.can_create_new_item = true ;

                // Logging
                $.getJSON ( 'https://tools.wmflabs.org/magnustools/logger.php?tool=cradle&method=item from shex&callback=?' , function(j){} ) ;

//                console.log ( d ) ;
                $('#working').hide() ;
            } ) ;
        } ,
        initializeDataFromItem : function ( q ) {
            let me = this ;
            // TODO
        } ,
    } ,
    computed : {
        getShExLabel : function () {
            let me = this ;
            if ( typeof me.j.labels[tt.language] != 'undefined' ) return me.j.labels[tt.language] ;
            if ( typeof me.j.labels['en'] != 'undefined' ) return me.j.labels['en'] ;
            return me.e ;
        } ,
        getShExDesc : function () {
            let me = this ;
            if ( typeof me.j.descriptions[tt.language] != 'undefined' ) return me.j.descriptions[tt.language] ;
            if ( typeof me.j.descriptions['en'] != 'undefined' ) return me.j.descriptions['en'] ;
            return me.e ;
        } ,
    } ,
    template:'#shex-page-template'
} ) ;
</script>
